# -----------------------------------------------------------------------------
# Copyright 2025 Fenwick Team
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# -----------------------------------------------------------------------------
version: "3.8"

services:
  mqtt-broker:
    image: eclipse-mosquitto:2
    container_name: mqtt-broker
    ports:
      - "1883:1883"
      - "9002:9002"
    volumes:
      - ./mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf
    stdin_open: true
    tty: true
    networks:
      xcity-network:
        ipv4_address: 172.24.0.100

  orion-ld:
    image: quay.io/fiware/orion-ld:1.10.0
    container_name: orion-ld
    restart: always
    ports:
      - "1026:1026"
    command: -dbhost mongo
    networks:
      xcity-network:
        ipv4_address: 172.24.0.101

  mongo:
    image: mongo:5
    container_name: mongo
    restart: always
    ports:
      - "27018:27017"
    networks:
      xcity-network:
        ipv4_address: 172.24.0.102

  iot-agent:
    image: fiware/iotagent-json
    container_name: iot-agent
    restart: always
    depends_on:
      - mqtt-broker
      - orion-ld
      - mongo
    ports:
      - "4041:4041"
    environment:
      - IOTA_CB_HOST=orion-ld
      - IOTA_CB_PORT=1026
      - IOTA_CB_NGSI_VERSION=ld
      - IOTA_JSON_LD_CONTEXT=https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.7.jsonld
      - IOTA_MQTT_HOST=mqtt-broker
      - IOTA_MQTT_PORT=1883
      - IOTA_REGISTRY_TYPE=mongodb
      - IOTA_MONGO_HOST=mongo
      - IOTA_MONGO_PORT=27017
      - IOTA_MONGO_DB=iotagentjson
      - IOTA_PROVIDER_URL=http://iot-agent:4041/
      - IOTA_LOG_LEVEL=DEBUG
      - IOTA_TIMESTAMP=true
      - IOTA_AUTOCAST=true
      - IOTA_AUTO_REGISTER_DEVICES=false
      - IOTA_AMQP_DISABLED=true
    networks:
      xcity-network:
        ipv4_address: 172.24.0.103

  xcity-sensor:
    image: fat1512/sensor
    container_name: xcity-sensor
    ports:
      - "5000:5000"
    environment:
      - MQTT_BROKER=mqtt-broker
      - MQTT_PORT=1883
    volumes:
      - ./SensorService/separated_stations:/app/separated_stations
    depends_on:
      - mqtt-broker
    networks:
      xcity-network:
        ipv4_address: 172.24.0.104
    restart: unless-stopped

  xcity-backend:
    image: fat1512/xcityserver
    container_name: xcity-backend
    ports:
      - "8090:8090"
    environment:
      - MONGO_URL=${MONGO_URL}
      - AUTH_SECRET_KEY=${AUTH_SECRET_KEY}
      - ORION_LD_URL=http://orion-ld:1026/ngsi-ld/v1/entities
      - CLIENT_URL=http://xcity-frontend
      - SENSOR_SERVICE=http://172.24.0.104:5000/sensor
      - IOT_AGENT=http://iot-agent:4041/iot
    depends_on:
      - xcity-sensor
      - orion-ld
      - iot-agent
    networks:
      xcity-network:
        ipv4_address: 172.24.0.105
    restart: unless-stopped

  xcity-frontend:
    image: fat1512/xcityfe
    container_name: xcity-frontend
    ports:
      - "80:80"
      - "443:443"
    environment:
      - VITE_BASE_URL=/backend-service/xcity-service/api/v1
      - VITE_AI_URL=https://ai.tanle.site/api/
      - VITE_CAMERA_AI_URL=wss://ai.tanle.site/ws/frontend
      - VITE_MAPBOX_TOKEN=${MAPBOX_TOKEN}
    volumes:
      - ./FE/server.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - xcity-backend
    networks:
      xcity-network:
        ipv4_address: 172.24.0.6
    restart: unless-stopped

networks:
  xcity-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.24.0.0/16
          gateway: 172.24.0.1
